<div id="donation-center-create" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    location_on
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Cadastrar Centro de
                    Doação</span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" fusePerfectScrollbar>

            <div class="p-24">
                <div class="message-box error m-16" [hidden]="!msgError">
                    {{msgError}}
                </div>
            </div>

            <div class="p-24">

                <form name="donationCenterForm" [formGroup]="donationCenterForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" name="name" formControlName="name" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput placeholder="Descrição (Informações gerais como horário, responsável)"
                                name="description" formControlName="description" rows="5">
                            </textarea>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" flex>
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>CEP</mat-label>
                            <input matInput placeholder="CEP" name="zipCode" formControlName="zipCode" required>
                        </mat-form-field>
                        <div fxLayoutAlign="start center">
                            <button type="button" mat-icon-button aria-label="Procurar" fxLayoutAlign="end center"
                                class="margin-bottom: 20px" (click)="searchAddress()" fxHide.xs>
                                <mat-icon class="red-fg">search</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Logradouro</mat-label>
                            <input matInput placeholder="Logradouro" name="street" formControlName="street" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Número</mat-label>
                            <input matInput placeholder="Número" name="number" formControlName="number" type="number"
                                required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Bairro</mat-label>
                            <input matInput placeholder="Bairro" name="district" formControlName="district" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Cidade</mat-label>
                            <input matInput placeholder="Cidade" name="city" formControlName="city" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Estado</mat-label>
                            <input matInput placeholder="Estado" name="state" formControlName="state" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Complemento</mat-label>
                            <input matInput placeholder="Complemento" name="additionalInfo"
                                formControlName="additionalInfo">
                        </mat-form-field>
                    </div>

                    <div class="pr-24 pb-24">
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button mat-button class="blue" (click)="confirm()" aria-label="Confirmar"
                                [disabled]="donationCenterForm.invalid" matTooltip="Confirmar">Confirmar</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>