<div id="donation-view" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    favorite_border
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Pedido de Doação</span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div class="p-12">

                <div class="message-box error m-16" [hidden]="!msgError">
                    {{msgError}}
                </div>

                <div class="fuse-card mb-12">

                    <mat-list>
                        <mat-list-item>
                            <h3 matLine>Nome Solicitante</h3>
                            <p matLine>
                                <span class="secondary-text">{{ donationItem?.userName }}</span>
                            </p>
                        </mat-list-item>

                        <mat-list-item>
                            <h3 matLine>Localização Solicitante</h3>
                            <p matLine>
                                <span class="secondary-text">{{ donationItem?.userLocation }}</span>
                            </p>
                        </mat-list-item>

                        <mat-list-item>
                            <h3 matLine>Data Solicitação</h3>
                            <p matLine>
                                <span class="secondary-text">{{ donationItem?.date }}</span>
                            </p>
                        </mat-list-item>

                        <mat-list-item>
                            <h3 matLine>Status da Solicitação</h3>
                            <p matLine>
                                <span class="secondary-text" *ngIf="donationItem?.status === 1">
                                    Aguardando doador
                                </span>
                                <span class="secondary-text" *ngIf="donationItem?.status === 2">
                                    Aguardando confirmação doação
                                </span>
                                <span class="secondary-text" *ngIf="donationItem?.status === 3">
                                    Doação confirmada
                                </span>
                            </p>
                        </mat-list-item>
                    </mat-list>

                </div>

                <table #table mat-table [dataSource]="donations" class="mat-elevation-z8">

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Descrição </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div class="p-12" *ngIf="donationItem?.status === 1">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-button class="blue" (click)="donate()" aria-label="Confirmar"
                            matTooltip="Confirmar">Fazer Doção</button>
                    </div>
                </div>

                <div class="p-12" *ngIf="donationItem?.status === 2">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-button class="blue" (click)="confirmDonate()" aria-label="Confirmar"
                            matTooltip="Confirmar">Doação Recebida</button>
                    </div>
                </div>

            </div>

        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
