<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{ user?.name }}
            </div>
        </div>

    </div>
    <!-- / HEADER -->

    <div class="content">
        <div id="about" class="p-24" fxLayout="row wrap">

            <div class="message-box error m-16" [hidden]="!msgError">
                {{msgError}}
            </div>

            <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        
                <div class="profile-box info-box general" fxLayout="column">
        
                    <header class="accent">
                        <div class="title">Informações Gerais</div>
                    </header>
        
                    <div class="content">

                        <div class="info-line">
                            <div class="title">Email</div>
                            <div class="info">{{ user.email }}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Telefone</div>
                            <div class="info">{{ user.phone }}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Idade</div>
                            <div class="info">{{ user?.age }} anos</div>
                        </div>
        
                        <div class="info-line">
                            <div class="title">Onde mora</div>
                            <div class="info">{{ user.city }} - {{ user.state }}</div>
                        </div>
        
                    </div>
        
                </div>
        
            </div>
        
        </div>
    </div>

</div>
